h2 {
    font-size: 40px;
}

p {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    color: #878787;
    font-weight: 500;
}

.small_text {
    font-size: 15px;
    line-height: 25px;
}

.light_text {
    color: #fff;
}

.dark_text {
    color: #000;
}

.blue_text {
    color: #2C64E5;
}

.bkg_dark {
    background-color: #1f1f1f;
}

.bkg_grey {
    background-color: #BEBCBB;
}

.bkg_dark_blue {
    background-color: #161c3b;
}

.bkg_blue {
    background-color: #00439C;
}

ul {
    list-style: none;
}

a {
    text-decoration: none; 
}

.img_radius {
    border-radius: 15px;
}

/* .ps_navbar .dropdown-menu.show {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    margin-top: 0;   
    border: none;
    border-radius: 0;
} */

.ps_navbar #navbarDropdown {
    color: #000;
    font-weight: 500;
}

.ps_navbar #navbarDropdown:hover {
    color: #2C64E5;
}

li.nav-item.dropdown {
    position: static;
}

/* button */

a.btn {
    border-radius: 40px;
    border-width: 2px;
    font-weight: 500;
    max-height: 40px;
}

a.button_colored {
    background-color: #CD3D0F;
    border-color: #CD3D0F;
}

a.button_colored:hover {
    box-shadow: inset 0 0 0 2px #000;
    background-color: #CD3D0F;
    border-color: #CD3D0F;
}

a.btn-dark:hover {
    box-shadow: inset 0 0 0 2px #fff;
    background-color: #878787;
    border-color: #878787;
}

a.btn-primary:hover {
    box-shadow: inset 0 0 0 2px #fff;
}

a.btn-light:hover {
    box-shadow: inset 0 0 0 2px #000;
}

a.btn-light.blue_text:hover {
    background-color: #fff;
    color: #2C64E5;
    box-shadow: 0px 0px 20px #d1dfff;
}

.game_logo, .banner_logo {
    width: 70%;
}


/* -------------------------- */

/* topbar */

.topbar {
    background-color: #000;
    height: 35px;
    padding: 3px 10px;
}

.topbar_logo {
    width: 80px;
}

/* nav */

.menu {
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index:1001;
}

/* jumbo */

.jumbotron {
    height: 600px;
    background: url(../img/jumbo-bg.png) no-repeat 50% 50%;
    background-size: cover;
}

/* game labels */

.game_label {
    border: 2px transparent solid;
    padding: 2px;
    position: relative;
    top: 0;
    transition: all .2s ease-in-out;
}

.game_label:hover {
    border: 2px #2C64E5 solid;
    top: -10px;
    box-shadow: 0px 10px 20px #c0c0c0;
}

/* ps5 accessories */

.ps5_accessories {
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.5s;
    border-bottom: 2px transparent solid;
}

.ps5_accessories:hover {
    opacity: 1;
    border-bottom: 2px #2C64E5 solid;
}

.ps5_accessories:focus {
    opacity: 1;
    border-bottom: 2px #2C64E5 solid;
}

/* games, store and social section */

.game_cover {
    background: url(../img/it-takes-two-hero-banner-desktop.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.game_img,
.ps_store_deals,
.social_icon {
    transform: none;
    box-shadow: none;
    transition: all .2s ease-in-out;
}

.game_img:hover {
    transform: scale(0.9);
    box-shadow: 0px 0px 15px #d1dfff;
}

.ps_store_deals:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 30px #d1dfff;
}

.social_icon:hover {
    transform: scale(1.1);
}

/* footer */

.ps_logo {
    width: 100px;
}

.sie_logo {
    width: 150px;
}

.language_menu {
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}

.language_menu option{
    background-color: #00439C;
}